---
// MermaidChart.astro
import mermaid from 'mermaid';

export interface MermaidProps {
  code: string;
}

const { code } = Astro.props;
---

<div class="mermaid" style={{background:"#ffffff",width: "70%",textAlign:"center"}}>
  {code}
</div>

<script>
  import mermaid from 'mermaid';
  mermaid.initialize({ startOnLoad: true });
  mermaid.contentLoaded();
</script>

