<div class="mermaid">
  <slot />
</div>

<script>
  // npmからインストールしたmermaidを使用する場合
  import mermaid from 'mermaid';
  
  document.addEventListener('DOMContentLoaded', () => {
    mermaid.initialize({ 
      startOnLoad: true,
      theme: 'default'
    });
  });
</script>
